@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb:  15, 15, 15;
  --background-end-rgb: 5, 5, 5;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } 
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb));
}
/*body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-div {
  background-color: rgba(30, 30, 30, 0.5);
}

.form-input {
  color: rgb(20, 20, 20);
}
